*a.out*
*.d
*.o
*.json
*.cmake
*.make
*.marks
*.bin
*.ts
*.check_cache
*.log
Makefile*
CMakeCache.txt
**/CMakeFiles
**/.exercism
**/.vscode
acronym/acronym
all-your-base/all-your-base
two-fer/two-fer
allergies/allergies
armstrong-numbers/armstrong-numbers
binary/binary
collatz-conjecture/collatz-conjecture
difference-of-squares/difference-of-squares
gigasecond/gigasecond
hamming/hamming
grade-school/grade-school
hello-world/hello-world
hexadecimal/hexadecimal
isogram/isogram
leap/leap
luhn/luhn
meetup/meetup
nucleotide-count/nucleotide-count
nth-prime/nth-prime
pascals-triangle/pascals-triangle
prime-factors/prime-factors
protein-translation/protein-translation
queen-attack/queen-attack
reverse-string/reverse-string
rna-transcription/rna-transcription
robot-name/robot-name
robot-simulator/robot-simulator
say/say
scrabble-score/scrabble-score
secret-handshake/secret-handshake
sieve/sieve
space-age/space-age
sum-of-multiples/sum-of-multiples
triangle/triangle
beer-song/beer-song
clock/clock
